<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum=1.0,minimum-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="">
  <script src=""></script>
</head>
<style>
  table {
    width: 100%;
    display: table-cell !important;
    box-sizing: border-box;
  }

  .el-table__header,
  .el-table__body,
  .el-table__footer {
    width: 100% !important;
    border-collapse: collapse;
    text-align: center;
  }

  table,
  table tr th,
  table tr td {
    border: 1px solid #ddd;
    color: #606266;
    word-wrap: break-word
  }

  table tr th,
  table tr td {
    padding: 4mm 0mm;
    word-wrap: break-word
  }

  .el-table__body,
  tr td .cell {
    width: 100% !important
  }

  .el-table th.gutter {
    display: none;
  }

  .el-table colgroup.gutter {
    display: none;
  }
</style>

<body>
  <div class="hidden-columns">
    <div data-v-4214bf98=""></div>
    <div data-v-4214bf98=""></div>
    <div data-v-4214bf98=""></div>
    <div data-v-4214bf98=""></div>
    <div data-v-4214bf98=""></div>
    <div data-v-4214bf98=""></div>
  </div>
  <div class="el-table__header-wrapper">
    <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 1702px;">
      <colgroup>
        <col name="el-table_23_column_72" width="180">
        <col name="el-table_23_column_73" width="180">
        <col name="el-table_23_column_74" width="337">
        <col name="el-table_23_column_75" width="335">
        <col name="el-table_23_column_76" width="335">
        <col name="el-table_23_column_77" width="335">
        <col name="gutter" width="0">
      </colgroup>
      <thead class="has-gutter">
        <tr class="">
          <th colspan="1" rowspan="1" class="el-table_23_column_72     is-leaf el-table__cell">
            <div class="cell">日期</div>
          </th>
          <th colspan="1" rowspan="1" class="el-table_23_column_73     is-leaf el-table__cell">
            <div class="cell">姓名</div>
          </th>
          <th colspan="1" rowspan="1" class="el-table_23_column_74     is-leaf el-table__cell">
            <div class="cell">地址</div>
          </th>
          <th colspan="1" rowspan="1" class="el-table_23_column_75     is-leaf el-table__cell">
            <div class="cell">地址</div>
          </th>
          <th colspan="1" rowspan="1" class="el-table_23_column_76     is-leaf el-table__cell">
            <div class="cell">地址</div>
          </th>
          <th colspan="1" rowspan="1" class="el-table_23_column_77     is-leaf el-table__cell">
            <div class="cell">地址</div>
          </th>
          <th class="el-table__cell gutter" style="width: 0px; display: none;"></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="el-table__body-wrapper is-scrolling-none">
    <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 1702px;">
      <colgroup>
        <col name="el-table_23_column_72" width="180">
        <col name="el-table_23_column_73" width="180">
        <col name="el-table_23_column_74" width="337">
        <col name="el-table_23_column_75" width="335">
        <col name="el-table_23_column_76" width="335">
        <col name="el-table_23_column_77" width="335">
      </colgroup>
      <tbody>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1" class="el-table_23_column_72   el-table__cell">
            <div class="cell">2016-05-04</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_73   el-table__cell">
            <div class="cell">王小虎</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_74   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_75   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_76   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_77   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1" class="el-table_23_column_72   el-table__cell">
            <div class="cell">2016-05-04</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_73   el-table__cell">
            <div class="cell">王小虎</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_74   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_75   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_76   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_77   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1" class="el-table_23_column_72   el-table__cell">
            <div class="cell">2016-05-04</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_73   el-table__cell">
            <div class="cell">王小虎</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_74   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_75   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_76   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_77   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1" class="el-table_23_column_72   el-table__cell">
            <div class="cell">2016-05-04</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_73   el-table__cell">
            <div class="cell">王小虎</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_74   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_75   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_76   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
          <td rowspan="1" colspan="1" class="el-table_23_column_77   el-table__cell">
            <div class="cell">上海市普陀区金沙江路 1517 弄</div>
          </td>
        </tr>
        <!---->
      </tbody>
    </table>
    <!---->
    <!---->
  </div>
  <!---->
  <!---->
  <!---->
  <!---->
  <div class="el-table__column-resize-proxy" style="display: none;"></div>
  <button onclick="clickone()">打印</button>
</body>
<script>
  function clickone() {
    window.print();
    //alert("hello");
  }
  
</script>

</html>